
.card {
    height: 400px;
    width: 400px;
    background-color: #252633;
    border : 1px red solid;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
}

.card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.legend {
    position: absolute;
    color: white;
    background-color: #252633;
    padding: 20px;
    font-size: 20px;
    bottom:70px;
    left:0;
}

