@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.headerContainer{
    background-color: #252633;
    color:white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Metal Mania', cursive;
}